@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .backgroundimag {
  background-image: url(../src/assets/images/bg-footer-top-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
} 
  /* background-position: */
